
<h1 style="text-align:center;"><%= current_user.name %>'s tasks</h1>
<center>
<div class="taskcontainer" style="width:400px;border: 5px solid red;">
<ul>
<% @tasks.each do |task| %>
<li style="font-size:30px; text-align:left;">
<%= link_to task.content, task %> <span> | </span> <%= task.status %>
<br>
<%= link_to "Finished", task, method: :delete, data: { confirm: 'このタスクを削除します'} %>
</li>

<% end %>
</ul>

<%= link_to "新規", new_task_path %>
</cente>
</div>
<%= link_to "アカウントページ", current_user %>